<%# 
File name      : index.ejs
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 29-09-21
%>

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">

  <div class="jumbotron">
    <h1 class="display-4 fw-bold"> <%= title %></h1>
  </div>

  <%include partials/content_conditional.ejs %>

</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
  
  


