<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container ">
 <h1 class="display-4 fw-bold"><%= title%></h1>
  <div class="row text bg-dark text-light rounded">
      <div class="offset-md-1 col-md-10 ">
         
          <br>
          <table class="table table-bordered table-striped table-hover text-center bg-light text-dark">
              <!--Header row-->
            <tr>
                <th class="text-center col-2">Contact Name</th>
                <th class="text-center col-3">Contact Number</th>
                <th class="text-center">Email</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>

            <!--Repeatable Teempelate Row-->
            <%for(let i = 0; i < ContactList.length; i++){%>               
                <tr>
                    <td class="text-center"><%= ContactList[i].contact_name %></td>
                    <td class="text-center"><%= ContactList[i].contact_number %></td>
                    <td class="text-center"><%= ContactList[i].email %></td>
                    <td class="text-center">
                        <a href="/contact-list/update/<%= ContactList[i]._id%>" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Update</a>
                    </td>
                    <td class="text-center">
                        <a href="/contact-list/delete/<%= ContactList[i]._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>       
            <% } %> 

          </table>
      </div>
  </div>


</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
  