<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">

    <!--Form for logging in-->
    <% if(message.length >0){%>
    <div class="alert alert-danger">
        <%= messages%>
    </div>

    
    <%}%>
    <h1>Please Log in:</h1>
    <form method="POST" autocomplete="off">
        <div>
            <fieldset class="col-md-6 form-group">
                <label for="fname" class="form-label">User Name:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter user name" tabindex="" name="username">
            </fieldset>
            <fieldset class="col-md-6 form-group">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Password" tabindex="" name="password">
            </fieldset>
        </div>

        <fieldset class="form-group text-right">
            <input type="submit" class="btn btn-success" value="Login">
            <a href="/">
                <input type="button" class="btn btn-warning" value="Cancel">
            </a>
        </fieldset>
    </form>
        
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
  