<!--
File name      : login.ejs
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 30-10-2021
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">

    <!--Form for logging in-->
    <% if(message.length >0){%>
    <div class="alert alert-danger">
        <%= message%>
    </div>  
    <%}%>

    <h1>Please Log in:</h1>
    <div class=" offset-md-3 col-md-6 bg-dark text-light rounded p-5">
        <form method="POST" autocomplete="off">
            <div>
                <fieldset class="form-group">
                    <label for="fname" class="form-label">User Name:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter user name" tabindex="13" name="username" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" tabindex="15" name="password" required>
                    or
                    <a href="/register" tabindex="16">Register Here</a>
                </fieldset>
            </div>
            <!--Buttons-->
            <fieldset class="form-group text-center">
                <input type="submit" class="btn btn-success m-3 btn-lg" value="Login" tabindex="17">
                <a href="/">
                    <input type="button" class="btn btn-warning m-3 btn-lg" value="Cancel" tabindex="19">
                </a>
            </fieldset>
        </form>      
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
  