<%- include header.ejs %>

<%- include main_nav.ejs %>

<main class="container">

    <!--Form for logging in-->
    <% if(message.length >0){%>
    <div class="alert alert-danger">
        <%= messages%>
    </div>

    
    <%}%>
    <h1>Please Log in:</h1>
    <form method="POST" autocomplete="off">
        <div>
            <fieldset class="col-md-6 form-group">
                <label for="fname" class="form-label">User Name:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter user name" tabindex="" name="username">
            </fieldset>
            <fieldset class="col-md-6 form-group">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Password" tabindex="" name="password">
            </fieldset>
        </div>

        <fieldset class="form-group text-right">
            <input type="submit" class="btn btn-sucess" value="Login">
            <a href="/">
                <input type="button" class="btn-btn-warning" value="Cancel">
            </a>
        </fieldset>

        

        <div class="container">
          <button class="btn-primary btn-lg text-nowrap" type="submit" id="login">Login</button>
          <a href="routes/login/Mae" class="btn btn-primary">Login</a>
        </div>
    </form>
        
</main>

<%- include bottom_nav.ejs %>

<%- include footer.ejs %>
  